* {
  margin: 0;
  padding: 0;
}

img {
  width: 200px;
  height: 200px;
}
p {
  font-size: 10px;
  margin-top: 7px;
}

.header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
}

.gripImg {
  width: 180px;
  height: 140px;
}

.gripItem img {
  border-radius: 3px;
  width: 40px;
  height: 30px;
  margin-left: 7px;
  margin-top: 7px;
}

.gripItem {
  width: 60px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: baseline;
  border: 0.1px solid #f1f8ff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}

.gripItem:hover {
  border: 0.1px solid black;
  color: white;
  background-color: rgb(32, 187, 187);
}

.gripItems {
  width: 185px;
  float: right;
  margin-right: -198px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 155px;
}

.gripDiv {
  position: absolute;
  margin-left: 212px;
  margin-top: 30px;
}

.corpusDiv {
  position: absolute;
  margin-left: 202px;
  margin-top: 95px;
}

.navBar {
  width: 200px;
  float: right;
  margin-right: 90px;
  margin-top: 45px;
}

.gripBar {
  width: 200px;
  height: 30px;
  background-color: #f1f8ff;
  margin-top: 7px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.gripBar:hover {
  background-color: rgb(32, 187, 187);
  color: black;
}

.navBar .link {
  text-decoration: none;
  color: rgb(32, 187, 187);
}

.gripCorpus {
  height: 350px;
  background-color: rgb(199, 215, 231);
}
